.calculate {
  background-color: $main-color;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    p {
      line-height: 36px;
      margin-bottom: 20px;
    }
  }
  &__img {
    margin-top: -50px;
  }
}