.calculated-page {
  &__content {
    margin-bottom: 100px;
    form {
      position: relative;
      text-align: right;
      padding-right: 80px;
      margin: 0 auto;
      margin-top: 70px;
      max-width: 845px;
      .form-group {
        margin-bottom: 40px;
        position: relative;
        transition: .3s;
        &.focus-control:after {
          position: absolute;
          content: "";
          top: 0;
          right: -80px;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background-color: $main-color;
          background-image: url(../svg/arrow-left.svg);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 50%;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          transition: .3s;
        }
      }
      .btn-main {
        margin-top: 20px;
      }
    }
  }
  .products-slider {
    .left-btn {
      left: 0
    }
    .right-btn {
      right: 0
    }
  }
}