.categories {
  .content-title {
    margin-bottom: 60px;
  }
  &__block {
    margin-bottom: 60px;

  }
  &__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 495px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  &__info {
    padding: 5px 35px;
    height: 120px;
    font-size: 40px;
    background-color: $main-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    a {
      color: #000;
    }
  }
}