.content{
    width: 100%;

    &__title{
        margin: 0;
        margin-bottom: 40px;
        font-family: Magistral Cond;
        font-style: normal;
        font-weight: bold;
        font-size: 78px;
        line-height: 100px;
    }
}
// contacts


.contacts {

    // .contacts__inner

    &__inner {
        display: flex;
    }

    // .contacts__address

    &__address {
        width: 100%;
    }

    &__title {
        margin-bottom: 30px;

        font-family: 'Magistral Cond';
        font-weight: 700;
        font-style: normal;
        font-size: 60px;
        line-height: 60px;
    }

    // .contacts__subtitle

    &__subtitle {
        margin-bottom: 30px;

        font-family: 'Bahnschrift';
        font-size: 48px;
        font-weight: 400;
        font-style: normal;
        line-height: 60px;
    }

    // .contacts__map

    &__map {
        width: 100%;
        margin-bottom: 70px;
        height: 650px;

        overflow: hidden;
        border-radius: 10px;


    }
    .ymaps-2-1-78-user-selection-none{
        filter: grayscale(80%);
        -ms-filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
    }
    .ymaps-2-1-78-placemark-overlay{
        filter: grayscale(0);
        -ms-filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
    }
}
.security-1200{
    display: none;
}
.security {

    // .security__title

    &__title {
        margin-bottom: 25px;

        font-family: 'Magistral Cond';
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 60px;
    }

    // .security__text

    &__text {
        margin-bottom: 80px;

        font-family: 'Bahnschrift';
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        line-height: 45px;
    }

    // .security__phone

    &__phone {
        margin-bottom: 20px;
        color: #000000;
        p{
            margin: 0;
            font-family: 'Bahnschrift';
            font-size: 30px;
            font-weight: 400;
            font-style: normal;
            line-height: 45px; 
        }
        a{
            color: #000000;
            font-family: 'Bahnschrift';
            font-size: 30px;
            font-weight: 400;
            font-style: normal;
            line-height: 45px; 
        }
    }

    // .security__email

    &__email {
        font-family: 'Bahnschrift';
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        line-height: 45px; 

        a{
            color: #FF9900;
            text-decoration: underline;
        }
    }
}
.departments {

    margin-bottom: 80px;
    // .departments__inner

    &__inner {
        margin-bottom: 50px;

        border-bottom: 1px solid #838383;
        &:last-child{
            border: none;
            margin-bottom: 0;
        }
    }

    // .departments__title

    &__title {
        margin-bottom: 35px;

        font-family: Magistral Cond;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
    }

    // .departments__block

    &__block {
    }

    // .departments__profile

    &__profile {
        display: flex;
        margin-bottom: 35px;
    }

    // .departments__name

    &__name {
        width: 33.33%;

        font-family: Bahnschrift;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 45px;
    }

    // .departments__phone

    &__phone {
        width: 50%;
        a{
            font-family: Bahnschrift;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 45px;
            color: #000000;
        }
        
    }
    // .departments__contacts
    &__contacts{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    // .departments__email

    &__email {
        width: 50%;

        a{
            font-family: Bahnschrift;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 45px;
            /* or 150% */

            text-decoration-line: underline;

            color: #FF9900;
        }
    }
}

