.features {
  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    margin-top: 70px;
    padding: 0 10px;
    text-align: center;
    flex-basis: 25%;
    height: 390px;
    p {
      color: #fff;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
}