.feedback {
  margin: 70px 0;
  background-color: $main-color;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
    h3 {
      font-size: 60px;
      margin-right: 170px;
      margin-bottom: 0;
    }
  }
  &__form {
    flex: none;
  }
}