$path-font: "../fonts" !default;

@font-face {
  font-family: 'Bahnschrift';
  src: url('#{$path-font}/Bahnschrift.woff2') format('woff2'),
      url('#{$path-font}/Bahnschrift.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magistral Cond';
  src: url('#{$path-font}/MagistralCond-Bold.woff2') format('woff2'),
      url('#{$path-font}/MagistralCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}