.footer {
  position: relative;
  background-color: #434242;
  color: #fff;
  padding: 70px 0; 
  &--black {
    background-color: #000;
    .footer__row-2 {
      border-top: 1px solid #434242;
    }
    .footer__row-2 {
      border-top: 1px solid #434242;
    }
  }
  .scroll-to-up {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $main-color;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    transition: .3s;
    outline: none;
    svg {
      transform: rotate(90deg);
    }
    &:hover {
      top: -30px;
    }
  }
  a {
    color: #fff;
    &:hover {
      color: $main-color
    }
  }
  &__main-info {
    font-size: 24px;
    .logo-footer {
      margin-bottom: 65px;
    }
    p {
      margin: 25px 0;
    }
  }
  &__row-1 {
    font-size: 20px;
    .nav-wrap-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__row-2 {
    margin: 40px 0;
    padding: 25px 0 0;
    font-size: 24px;
    border-top: 1px solid #000;
    .btn-main {
      font-size: 24px;
      padding: 5px 40px;
    }
  }
  &__row-3 {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
    font-size: 24px;
    span {
      font-size: 14px;
    }
    .social {
      margin-left: 30px;
      svg {
        fill: #E5E5E5;
        margin-left: 35px;
        transition: .3s;
        &:hover {
          fill: $main-color;
        }
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-column {
    flex: none;
    flex-basis: 40%;
    &:first-child {
      // flex-basis: 48%;
      margin-right: 20px;
    }
    &:nth-child(3) {
      flex-basis: calc(80% + 20px);
      margin-top: 20px;
      text-align: right;
    }
  }
  &__form {
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;
    flex-wrap: wrap;
    textarea {
      height: 120px;
      resize: none;
    }
    .form-group {
      margin-bottom: 0;
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}