.main-page {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &__phone {
      color: #fff;
    }
    .main-circle {
      border: 2px solid #fff;
      background-color: rgba(0, 0, 0, 0.5);
      transition: .3s;
      svg {
        transition: .3s;
        stroke: #fff;
      }
    }
    
    .lang-switch {
      color: #fff;
    }
    .hamburger {
      &__inner {
        background-color: #fff;
        &:before,
        &:after {
          background-color: #fff;
        }
      }
    }
  }
}

.header {
  background-color: #fff;
  z-index: 1;
  &__inner {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__menu {
    display: flex;
    align-items: center;
    margin-left: 50px;
    span {
      color: $main-color
    }
  }
  &__phone {
    font-size: 50px;
    color: #000;
    font-family: $font-family-head;
    &:hover {
      color: $main-color
    }
  }
  .lang-block {
    position: relative;
    span {
      cursor: pointer
    }
    .drop-lang {
      position: absolute;
      top: 90px;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      a {
        margin-left: 0;
      }
    }
    &.active {
      .drop-lang {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .main-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #000;
    transition: .3s;
    svg {
      stroke: #000;
      stroke-width: 2px;
      fill: transparent;
    }
    &:hover {
      border-color: $main-color;
      color: $main-color;
    }
  }
  .lang-switch {
    color: #000;
  }
  .search {
    position: relative;
    cursor: pointer;
    &:hover {
      .search-btn {
        svg {
          stroke: $main-color;
        }
      }
    }
    &__block {
      position: absolute;
      display: none;
      top: 90px;
      padding: 10px 15px;
      background-color: $main-color;
      width: 400px;
      border-radius: 5px;
      form {
        display: flex;
      }
      .form-group {
        margin-bottom: 0;
      }
      .btn-main {
        padding: 0 10px;
        text-align: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:hover {
          background-color: #fff;
          svg {
            stroke: $main-color
          }
        }
      }
      &.show {
        display: block;
      }
    }
  }
  .search,
  .lang-switch {
    margin-left: 25px;
  }
  .hamburger {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    z-index: 1031;
    &__inner {
      position: relative;
      height: 2px;
      width: 25px;
      border-radius: 20%;
      background-color: #000;
      transition: .3s;
      &:before,
      &:after {
        position: absolute;
        content: "";
        left: 0;
        height: 2px;
        background-color: #000;
        transition: .3s;
      }
      &:before {
        top: -6px;
        width: 13px;
      }
      &:after {
        bottom: -6px;
        width: 18px;
      }
    }
    &.active {
      border-color: #000;
      background-color: #fff;
      .hamburger__inner {
        transform: rotate(45deg);
        background-color: #000;
        width: 25px;
        &:before {
          opacity: 0;
          background-color: #000;
        }
        &:after {
          bottom: 0;
          width: 25px;
          transform: rotate(-90deg);
          background-color: #000;
        }
      }
    }
  }
}

.wrap-nav-menu {
  position: absolute;
  padding: 140px 200px;
  top: -2000px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  transition: .3s;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  &.open {
    top: 0;
    // padding-right: 17px;
  }
  .nav-menu {
    &__item {
      margin-bottom: 15px;
      a {
        display: block;
        font-size: 40px;
        font-family: $font-family-head;
        color: #000;
        &:hover {
          color: $main-color
        }
      }
    }
    &__image{
      padding-left:100px ;
      height: 100vh;
      img{
        height: 80%;
      }
    }
  }
  .dropdown-menu {
    position: static;
    float: none;
    border: none;
    &.open {
      display: flex;
    }
    &__item {
      margin-right: 35px;
      a {
        font-size: 14px;
        font-family: $font-family-base;
      }
    }
  }
}