@media (max-width: 1670px) {
  .header {
    &__phone {
      font-size: 24px;
    }

    &__menu {
      margin-left: 20px;

      span {
        font-size: 20px;
      }
    }

    &__inner {
      .logo {
        img {
          height: 100px;
        }
      }
    }

    .main-circle {
      width: 50px;
      height: 50px;
    }

    .lang-switch {
      font-size: 20px;
    }
  }

  .main {
    &-screen {
      &__text {
        h1 {
          font-size: 60px;
        }
      }
    }
  }

  .features {
    &__item {
      margin-right: 15px;
      margin-left: 15px;
      height: auto;
    }
  }

  .product {
    max-width: 100%;
    border-radius: 0;

    &s-slider {
      margin-top: 150px;

      .slick-list {
        padding: 0 !important;
      }
    }
  }

  .footer {
    &__form {
      .form-column {
        flex: auto;

        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }

    &__row-3 {
      .social {
        display: flex;
        margin-right: 30px;
      }
    }
  }

  .actual-price {
    &__inner {
      display: block;
      text-align: center;
      h3 {
        br {
          display: none;
        }
      }
    }
    &__form {
      display: block;
      margin: 0 auto;
      max-width: 410px;
      .form-column {
        width: 100%;
        margin-left: 0;
        text-align: center;
      }
    }
  }

  .content-title {
    font-size: 65px;
    margin-bottom: 25px;
  }

  .contacts {
    &__title {
      margin-bottom: 15px;
      font-size: 50px;
    }

    &__subtitle {
      margin-bottom: 15px;
      font-size: 38px;
    }
  }

  .security {
    &__title {
      margin-bottom: 10px;
      line-height: 40px;
      font-size: 30px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 25px;
    }

    &__phone {
      p {
        font-size: 25px;
      }

      a {
        font-size: 25px;
      }
    }

    &__email {
      font-size: 25px;
    }
  }

  .departments {
    margin-bottom: 40px;

    &__inner {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 25px;
      font-size: 30px;
    }

    &__profile {
      margin-bottom: 25px;
    }

    &__name {
      font-size: 20px;
    }

    &__phone {
      a {
        font-size: 20px;
      }

    }

    &__email {
      a {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1550px) {
  .main {
    &-screen {
      &__text {

        p {
          font-size: 30px;
        }

        h1 {
          max-width: 60%;
          font-size: 50px;
        }
      }

      .about-right {
        bottom: 0;
      }
    }
  }
}

@media (max-width: 1199px) {
  .main {
    &-screen {
      &__text {
        &:before {
          display: none;
        }

        p {
          font-size: 30px;
        }

        h1 {
          max-width: 550px;
          font-size: 50px;
        }
      }

      &__about-right {
        display: block;
      }

      .about-right {
        display: none;
      }
    }
  }
  .breadcrumb-item {
    font-size: 20px;
  }

  .btn {
    font-size: 20px;
  }

  .section-title {
    font-size: 48px;
  }

  .header {
    &__menu {
      margin-left: 0;

      span {
        display: none;
      }
    }

    &__inner {
      .logo {
        img {
          height: 50px;
        }
      }
    }

    .main-circle {
      width: 50px;
      height: 50px;
    }
  }

  .main {
    &-screen {
      &__content {
        padding-top: 110px;
      }

      &__text {
        p {
          font-size: 20px;
          line-height: 24px;
        }

        h1 {
          font-size: 30px;
        }
      }

      &__about-right {
        h5 {
          font-size: 26px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    &__slider {
      .slick-dots {
        padding-left: 115px;
      }
    }

    &-page {
      .main-screen {
        min-height: 530px;
      }
    }

    &-menu {
      &__item {
        font-size: 18px;
        margin-right: 20px;
      }
    }
  }

  .feedback {
    &__inner {
      display: block;
      text-align: center;
      h3 {
        font-size: 48px;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
    &__form {
      margin: 0 auto;
      max-width: 400px;
    }
  }

  .features {
    &__item {
      margin-top: 50px;
      margin-right: 0;
      margin-left: 0;
      font-size: 18px;

      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  .product {
    &s-slider {
      .slider-btn {
        top: 170px;
        transform: none;
      }
    }

    &__title {
      font-size: 40px;
    }

    &__description {
      font-size: 20px;
    }

    &__text {
      font-size: 20px;
    }
  }

  .news {
    &__img {
      height: 125px;
    }

    &__text {
      padding: 5px;
      line-height: 24px;
      font-size: 20px;
    }
  }

  .footer {
    &__row-1 {
      .nav-wrap-menu {
        flex-wrap: wrap;
        justify-content: flex-start;

        &__item {
          margin-right: 30px;
          margin-bottom: 20px;
        }
      }
    }

    &__row-3 {
      justify-content: flex-end;
      flex-wrap: wrap;

      span {
        display: inline-block;
        margin-top: 25px;
      }
    }

    &__info {
      flex-basis: 100%;
    }

    &__form {
      display: block;
      text-align: right;

      .form-column:nth-child(2) {
        margin: 0;
      }

      .form-group {
        margin-bottom: 20px;
      }
    }
  }

  .content-title {
    font-size: 48px;
  }

  .contacts {
    &__title {
      margin-bottom: 0;
      font-size: 30px;
    }

    &__subtitle {
      margin-bottom: 30px;

      font-size: 28px;
    }

    &__map {
      margin-bottom: 40px;
      height: 400px;

      .ymaps-2-1-78-map {
        width: 100% !important;
      }
    }
  }

  .security-1200 {
    display: block;
    margin-bottom: 75px;
  }

  .security {
    display: none;

    &__title {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 40px;
    }

    &__text {
      margin-bottom: 10px;

      font-size: 24px;
      line-height: 30px;
    }

    &__phone {
      margin-bottom: 20px;

      p {
        font-size: 24px;
      }

      a {
        font-size: 24px;
      }
    }

    &__email {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 35px;
    }
  }

  .departments {
    margin-bottom: 20px;

    &__inner {
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 30px;
    }

    &__name {
      font-size: 24px;
    }

    &__profile {
      margin-bottom: 20px;
    }
  }

  .detail-project {
    .col-xl-3 {
      order: 1
    }
    &__menu {
      margin-top: 70px;
    }
    &__text {
      font-size: 20px;
    }
    &__gallery,
    &__gallery-img {
      height: 400px;
    }
    &__main-img {
      display: none;
    }
  }

  .detail-product {
    &__info {
      .tab-content {
        margin-top: -13px;
      }
    }
  }

  .advantages {
    &__row {
      display: block;
    }
    &__block {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  .projects{
    &__text{
      display: none;
    }
    .projects__text-1200{
      display: block;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 990px) {
  .popup {
    &__dialog {
      width: 100%;
      transform: none;
      top: 0;
      left: 0;
    }
  }
  .callback {
    width: 190px;
    height: 190px;
    font-size: 20px;
    right: -50px;
    padding-top: 50px;
    padding-right: 60px;
    padding-left: 30px;
    line-height: 24px;
  }

  .wrap-nav-menu {
    display: block;
    padding-top: 100px;
    padding-left: 50px;
    .nav-menu {
      &__item {
        a {
          font-size: 30px;
        }
      }
      &__image{
        display: none;
      }
    }
    .dropdown-menu {
      flex-wrap: wrap;
      &__item {
        margin-bottom: 10px;
      }
      a {
        font-size: 14px;
      }
    }
  }

  .main {
    &__slider {
      .slick-dots {
        padding-left: 45px;
      }
    }
  }

  .product {
    padding-right: 50px;
    padding-left: 50px;

    &s-slider {
      .left-btn {
        left: 50px;
      }

      .right-btn {
        right: 50px;
      }
    }

    &__img {
      margin: 0;
    }

    &__text {
      font-size: 16px;
    }
  }

  .calculate {
    &__info {
      p {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .detail-product {
    .nav-item {
      font-size: 20px;
    }
  }

  .calculated-page {
    &__content {
      form {
        text-align: center;
        margin-top: 40px;
        .form-control {
          margin-bottom: 20px;
        }
      }
    }
  }

  .categories{
    &__info{
      font-size: 30px;
      line-height: 36px;
    }
    &__text{
      font-size: 24px;
      line-height: 36px;
      h4{
        font-size: 35px;
      }
    }
    &__block{
      margin-bottom: 45px;
    }
  }
}

@media (max-width: 767px) {
  .popup {
  &__dialog {
    height: 100%;
  }
}
  .callback {
    width: 115px;
    height: 115px;
    font-size: 16px;
    right: -25px;
    padding-top: 30px;
    padding-right: 35px;
    padding-left: 20px;
    line-height: 14px;
    .call-close {
      top: -10px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
    &__info {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .wrap-nav-menu {
    .nav-menu {
      &__item {
        & > a {
          font-size: 24px;
        }
      }
    }
  }

  .section-title {
    font-size: 25px;
  }

  .header {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;

      .logo {
        text-align: center;
        flex-basis: 100%;
        margin-bottom: 15px;

        img {
          height: 60px;
        }
      }
    }

    &__info {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__phone {
      margin-top: 15px;
      flex-basis: 100%;
      text-align: center;
      order: 1
    }
  }

  .main {
    &-screen {
      &__content {
        padding-top: 220px;
      }

      &__about-right {
        display: none;
      }

      &__text {
        text-align: center;
      }
    }

    &__slider {
      .slick-dots {
        padding-left: 0;
        text-align: center;

        li {
          width: 55px;
        }
      }
    }
  }

  .about {
    display: block;

    &__title {
      text-align: center;
    }
  }

  .features {
    &__item {
      flex-basis: 49%;
      padding: 0;
      span {
        display: none;
      }
    }
  }

  .product {
    &__img {
      height: 300px;
      margin-bottom: 45px;
    }
    &__header {
      display: block;
      text-align: center;
      span {
        display: block;
      }
    }
    &__description {
      margin-bottom: 15px;
    }
  }

  .calculate {
    &__img {
      display: none;
    }
    &__inner {
      justify-content: center;
    }
    &__info {
      padding: 30px 0;
      text-align: center;
    }
  }

  .departments {
    &__profile {
      justify-content: space-between;
    }

    &__contacts {
      display: block;
    }

    &__name {
      width: 50%;
    }

    &__phone {
      width: 100%;

      a {
        font-size: 24px;
        line-height: 36px;
      }
    }

    &__email {
      width: 100%;

      a {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  .footer {
    &__main-info {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #434242;
      .logo-footer {
        img {
          height: 65px;
        }
      }
    }
    &__info {
      flex-wrap: wrap;
      & > a {
        order: 1
      }
      .social {
        margin-left: 0;
      }
    }
    &__row-3 {
      justify-content: flex-start;
      .social {
        margin-bottom: 20px;
        svg {
          margin-left: 0;
          margin-right: 30px;
        }
      }
    }
  }

  .video {
    iframe {
      height: 400px;
    }
  }

  .projects{
    &__map{
      height: 400px;
      margin-bottom: 30px;
    }
    &__text-1200{
      font-size: 20px;
      line-height: 30px;
    }
  }

  .project {
    &__img {
      height: 200px;
    }
    &__text {
      padding: 10px 15px;
      font-size: 28px;
    }
  }

  .actual-price {
    padding: 50px 0;
    h3 {
      font-size: 48px;
    }
  }
}

@media (max-width: 575px) {
  .main-menu {
    &__list {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .feedback {
    &__inner {
      padding: 35px 0;
      h3 {
        font-size: 26px;
      }
    }
  }
  .breadcrumb-item {
    font-size: 16px;
  }
  .features {
    &__list {
      justify-content: flex-start;
    }
    &__item {
      font-size: 12px;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .product {
    padding-right: 30px;
    padding-left: 30px;
    &__img {
      height: 190px;
    }
    &__text {
      display: block;
      text-align: center;
      .column-text {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    &s-slider {
      .slider-btn {
        top: 80px;
        padding: 0;
        width: 40px;
        height: 40px;
        svg {
          width: 16px;
          height: 14px;
        }
      }
      .left-btn {
        left: 30px;
      }
      .right-btn {
        right: 30px;
      }
    }
  }

  .news {
    &__item {
      width: 270px!important;
    }
    .slick-list {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .content-title {
    font-size: 26px;
  }

  .contacts {
    &__title {
      font-size: 20px;
      line-height: 30px;
    }

    &__subtitle {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 30px;
    }

    &__map {
      margin-bottom: 30px;
    }
  }

  .security-1200 {
    margin-bottom: 30px;
  }

  .security {
    display: none;

    &__title {
      font-size: 20px;
      line-height: 20px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }

    &__phone {
      p {
        font-size: 16px;
        line-height: 24px;
      }

      a {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__email {
      font-size: 16px;
      line-height: 24px;

    }
  }


  .departments {
    margin-bottom: 20px;

    &__inner {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 20px;
      line-height: 20px
    }

    &__name {
      font-size: 16px;
      line-height: 24px;
    }

    &__phone {
      a {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__email {
      a {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__profile {
      display: block;
    }
  }

  .detail-project {
    .slider-btn {
      display: none;
    }
    &__menu {
      padding: 30px;
      height: 320px;
      font-size: 16px;
      line-height: 26px;
      h3 {
        font-size: 26px;
      }
    }
  }

  .detail-product {
    p {
      font-size: 16px;
    }
    .tab-content {
      font-size: 16px;
      padding: 30px;
    }
    .nav-item {
      font-size: 16px;
      .nav-link {
        padding: 5px 10px;
      }
    }
  }

  .actual-price {
    padding: 35px 0;
    margin-bottom: 30px;
    h3 {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }

  .advantages {
    font-size: 16px;
    &__row {
      margin: 30px 0;
    }
    h5 {
      font-size: 20px;
      line-height: normal;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
    &__block {
      span {
        line-height: 19px;
        margin-left: 20px;
      }
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }

  .video {
    iframe {
      height: 185px;
    }
  }

  .projects {
    &__map{
      margin-bottom: 30px;
    }
    &__text-1200{
      font-size: 16px;
      line-height: 24px;
    }
  }

  .project {
    margin-bottom: 20px;
    &__text{
      font-size: 16px;
    }
  }

  .policy {
    &__text {
      font-size: 16px;
    }
  }

  .error-page {
    &__info {
      p {
        font-size: 16px;
      }
    }
  }

  .back-btn {
    font-size: 16px;
  }

  .categories{
    &__info{
      font-size: 20px;
      line-height: 24px;
    }

    &__text{
      font-size: 16px;
      line-height: 24px;
      h4{
        font-size: 20px;
      }
    }
    &__block{
      margin-bottom: 20px;
    }
  }
}