.main-menu {
  background-color: #2F2F2F;
  &__list {
    display: flex;
    .slick-slide {
      margin-right: 20px;
    }
  }
  &__item {
    margin-right: 50px;
    padding: 3px 0;
    a {
      color: $main-color;
      &:hover {
        color: #fff;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}