.news {
  padding-top: 40px;
  padding-bottom: 50px;
  &__slider {
    margin-top: 30px;
    .slider-btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: $main-color;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      z-index: 1;
      svg {
        fill: #000;
      }
    }
    .left-btn {
      left: -10px;
    }
    .right-btn {
      right: -10px;
    }
  }
  &__item {
    position: relative;
    overflow: hidden;
    padding: 0 15px;
    &:hover {
      .news__text {
        bottom: 0;
      }
    }
  }
  &__img {
    height: 305px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
  }
  &__text {
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    bottom: -100%;
    padding: 10px 15px;
    background-color: rgba(255, 204, 0, .7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
  }
}