.detail-project {
  &__gallery {
    position: relative;
    height: 700px;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 180px;
      height: 100%;
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 1;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 180px;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
    &-img {
      border-radius: 10px;
      background-repeat: no-repeat;
      height: 700px;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  .slick-dots {
    bottom: 10px;
    li {
      width: 12px;
      height: 12px;
      background: rgba(51, 51, 51, 0.5);
      border: 1px solid #FFFFFF;
      border-radius: 100%;
      transition: .3s;
      &.slick-active {
        background: $main-color;
      }
      button {
        display: none;
      }
    }
  }
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 4px solid $main-color;
    svg {
      fill: $main-color;
    }
    z-index: 2;
  }
  .left-btn {
    left: 40px;
  }
  .right-btn {
    right: 40px;
  }

  &__menu {
    padding: 45px 35px;
    background-color: #2F2F2F;
    border-radius: 10px;
    font-size: 30px;
    height: 700px;
    h3 {
      font-size: 40px;
      color: #fff;
      margin-bottom: 15px;
    }
    .projects-list {
      overflow: auto;
      height: calc(100% - 45px);
      a {
        display: block;
        text-decoration: underline;
        color: $main-color;
        margin-bottom: 15px;
        &.active {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}