.projects {
  a {
    color: #000;
  }
  &__text {
    display: inline-block;
    text-align: justify;
  }
  &__map {
    width: 100%;
    margin-bottom: 70px;
    height: 650px;
    overflow: hidden;
    border-radius: 10px;
  }
  .ymaps-2-1-78-user-selection-none{
      filter: grayscale(80%);
      -ms-filter: grayscale(1);
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
  }
  .ymaps-2-1-78-placemark-overlay{
      filter: grayscale(0);
      -ms-filter: grayscale(0);
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
  }
  .projects__text-1200{
    display: none;
  }
}

.project {
  margin-bottom: 30px;
  &__img {
    height: 240px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__text {
    padding: 10px 20px;
    background-color: $main-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.balloon-content {
  display:flex;
  .balloon-info {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-right:15px;
    h6 {
      margin-bottom:30px;
      font-size:24px;
      line-height: 29px;
    }
    button {
      font-size: 16px;
    }
  }
  .balloon-img {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}