.detail-product {
  &__info {
    margin-top: 50px;
    .table-scroll {
      overflow: auto;
    }
    .data-table {
      width: 100%;
      th {
        font-family: $font-family-head;
      }
      thead {
        tr {
          background-color: #fff;
        }
      }
      tbody {
        tr:nth-child(2n) {
          background-color: #fff;
        }
        tr:nth-child(2n+1) {
          background-color: #F9F9F9;
        }
      }
    }
    .tab-content {
      padding: 60px 55px;
      margin-bottom: 85px;
      // margin-top: -13px;
      background-color: #E5E5E5;
    }
    .attachment {
      a {
        color: #000;
        text-decoration: underline;
        &:hover {
          color: #FF9900
        }
      }
    }
  }
}

.actual-price {
  background-color: $main-color;
  padding: 90px 0;
  margin-bottom: 140px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    .form-column {
      width: 555px;
      margin-left: 30px;
      text-align: right;
    }
    textarea {
      height: 115px;
      resize: none;
    }
    .btn-main {
      margin-top: 15px;
    }
  }
}

.advantages {
  h5,
  p {
    font-size: 40px;
    line-height: 48px;
  }
  a {
    color: #000;
    &:hover {
      color: $main-color
    }
  }
  &__row {
    margin: 95px 0;
  }
  &__row,
  &__block {
    display: flex;
    align-items: center;
  }
  &__block {
    margin-right: 40px;
    span {
      display: inline-block;
      margin-left: 40px;
      line-height: 36px;
    }
  }
}