.products-slider {
  padding-bottom: 80px;
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 4px solid $main-color;
    svg {
      fill: $main-color;
    }
  }
  .left-btn {
    left: 100px;
    z-index: 1;
  }
  .right-btn {
    right: 100px;
  }
}

.product {
  padding: 0 145px 55px;
  display: block!important;
  margin: 0 auto;
  max-width: 1425px;
  color: #fff;
  background: linear-gradient(115.82deg, #3F3F3F 1.26%, #2F2F2F 99.71%);
  border-radius: 20px;
  /* .slick-list {
    overflow: visible;
  } */
  &__img {
    position: relative;
    margin: 100px 45px 0px 45px;
    height: 540px;
    img {
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #252525;
    padding-bottom: 25px;
    span {
      text-transform: uppercase;
      line-height: 40px;
    }
  }
  &__title {
    font-family: $font-family-head;
    color: $main-color;
    font-size: 60px;
  }
  &__text {
    display: flex;
    font-size: 24px;
    padding-top: 35px;
    .column-text {
      margin-right: 30px;
      flex-basis: 23%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}