.search-page {
  &__form {
    margin-top: 20px;
    margin-bottom: 50px;
    form {
      display: flex;
      .form-group {
        flex-basis: 100%;
      }
      .form-control {
        border: 1px solid #434242;
        border-radius: 5px 0px 0px 5px;
        height: 80px;
        font-size: 36px;
      }
      .btn-search {
        width: 80px;
        height: 80px;
        border-radius: 0px 5px 5px 0px;
        background-color: $main-color;
      }
      svg {
        stroke: #000;
        stroke-width: 2px;
        fill: transparent;
      }
    }
  }
}

.search-item {
  margin-bottom: 50px;
  &__title {
    display: inline-block;
    margin-bottom: 10px;
    color: $main-color;
    text-transform: uppercase;
    font-family: $font-family-head;
    font-size: 36px;
    &:hover {
      text-decoration: underline;
    }
  }
}