@import "fonts";

@import "fotorama";
@import "slick";
@import "slick-theme";

@import "header";
@import "menu";
@import "features";
@import "products";
@import "calculate";
@import "news";
@import "footer";
@import "projects";
@import "feedback";
@import "project-detail";
@import "contacts";
@import "calculated-page";
@import "categories";
@import "product-detail";
@import "search-page";

body {
  overflow-x: hidden;
}

.dark-bg {
  background-color: #2F2F2F;
}

.page-overflow {
  overflow: hidden;
  padding-right: 17px;
}

.btn-focus {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: $main-color;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  svg {
    fill: #000;
  }
}

.content-title {
  font-size: 78px;
  text-transform: uppercase;
}

.back-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  color: #000;
  background-color: #FFCC00;
  border-radius: 5px;
}

.main {
  &-page {
    background-color: #434242;
    .main-screen {
      min-height: 900px;
    }
    .header {
      background-color: transparent;
    }
  }
  &-screen {
    position: relative;
    z-index: 0;
    .container {
      z-index: 1
    }
    &__about-right {
      max-width: 40%;
      display: none;
      color: #fff;
      margin-left: 25px;
      line-height: 20px;
      h5 {
        font-size: 32px;
      }
      p {
        font-size: 20px;
      }
    }
    .about-right {
      position: absolute;
      display: flex;
      align-items: center;
      right: -100px;
      bottom: -75px;
      width: 665px;
      height: 665px;
      padding-right: 120px;
      color: #fff;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.25);
      border: 20px solid $main-color;
      box-sizing: border-box;
      backdrop-filter: blur(80px);
      &__title {
        white-space: nowrap;
        display: block;
        margin-left: -50px;
        line-height: 60px;
        font-size: 50px;
        transform: rotate(-90deg);
      }
      &__text {
        margin-left: -90px;
        font-size: 20px;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-top: 290px;
    }
    &__text {
      position: relative;
      color: #fff;
      &:before {
        position: absolute;
        content: "";
        top: -75px;
        left: 0;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background-color: $main-color;
      }
      * {
        position: relative;
        z-index: 1;
      }
      p {
        margin-bottom: 25px;
      }
      h1 {
        text-transform: uppercase;
        font-size: 78px;
        max-width: 1265px;
      }
    }
  }
  &__slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .slick-list {
      height: 100%;
      * {
        height: 100%;
      }
    }
    &-item {
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    .slick-dots {
      position: absolute;
      left: 0;
      bottom: 30px;
      text-align: left;
      padding-left: 80px;
      li {
        width: 115px;
        height: 10px;
        border-radius: 40px;
        border: 1px solid #FFFFFF;
        transition: .3s;
        &.slick-active {
          border-color: $main-color;
          background-color: $main-color;
        }
      }
    }
  }
}

.section-title {
  color: #fff;
  font-size: 60px;
  &--black {
    color: #000
  }
}

.btn-main {
  border-radius: 5px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: $main-color;
  &--white {
    background-color: #fff;
  }
  &--black {
    background-color: #000;
    color: #fff;
    &:hover {
      color: $main-color
    }
  }
}

.about {
  padding-top: 40px;
  display: none;
  color: #fff;
  &__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 14px;
  }
}

.error-page {
  &__info {
    p {
      margin: 30px 0 10px;
    }
  }
}

.callback {
  position: fixed;
  cursor: pointer;
  top: 50%;
  right: -55px;
  width: 255px;
  height: 255px;
  padding-top: 65px;
  padding-right: 75px;
  padding-left: 45px;
  line-height: 36px;
  border-radius: 100%;
  background-color: $main-color;
  transform: translateY(-50%);
  z-index: 10;
  .call-close {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    svg {
      fill: #000; 
    }
  }
}

.main-page {
  .callback {
    .call-close {
      svg {
        fill: #fff;
      }
    }
  }
}

.popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  &__dialog {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 90px 0;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    width: 845px;
    height: 500px;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    background-color: #fff;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 100%;
    border: 2px solid #000000;
    svg {
      fill: #000;
      width: 15px;
      height: 15px;
    }
  }
  &-content {
    text-align: center;
    h4 {
      margin-bottom: 30px;
    }
  }
  .callback-form {
    width: 410px;
    .form-control {
      border: 1px solid #434242;
      margin-top: 25px;
    }
    .btn-main {
      margin-top: 25px;
    }
  }
}

.answer-popup {
  display: block;
}

@import "media";